@page
@model Poolski.web.Pages.Trips.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Trip.DepatureDateTime" class="control-label"></label>
                <input asp-for="Trip.DepatureDateTime" class="form-control" />
                <span asp-validation-for="Trip.DepatureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Cost" class="control-label"></label>
                <input asp-for="Trip.Cost" class="form-control" />
                <span asp-validation-for="Trip.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">From:</label><br />
                <select asp-for="FromLocationId" asp-items="@(new SelectList(Model.Locations, "Id", "Name"))">
                    <option value="">Pick one</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">To:</label><br />
                <select asp-for="ToLocationId" asp-items="@(new SelectList(Model.Locations, "Id", "Name"))">
                    <option value="">Pick one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Capacity" class="control-label"></label>
                <input asp-for="Trip.Capacity" class="form-control" />
                <span asp-validation-for="Trip.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
